In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
# Data Preprocessing
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
onehot_encoder_geography = OneHotEncoder(handle_unknown='ignore')
geography_encoded = onehot_encoder_geography.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geography_encoded , columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combinrg the encoded geography with the original data
data = pd.concat([data.drop('Geography',axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [7]:
# Divide the dataset into features and target variable
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
# save the encoder and scaler 
with open('label_encoder_gender.pkl', 'wb') as f:    
    pickle.dump(label_encoder_gender,f)

with open('onehot_encoder_geography.pkl', 'wb') as f:
          pickle.dump(onehot_encoder_geography, f)

with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# ANN REGRESSION IMPLEMENTAION

In [11]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime

In [12]:
# Build the ANN model
model = Sequential([
          Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ## HL1 connected to input layer
          Dense(32, activation='relu'),  ## HL2 connected to HL1
          Dense(1)  ## Output layer

])


# Compile the Model
model.compile(optimizer = 'adam' , loss = "mean_absolute_error" , metrics = ['mae'])

model.summary()

2025-07-02 18:45:52.569647: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1
2025-07-02 18:45:52.569909: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 8.00 GB
2025-07-02 18:45:52.570490: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 2.67 GB
2025-07-02 18:45:52.570611: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:303] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-07-02 18:45:52.571149: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:269] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Setup the tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# setup early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights =True)

In [15]:
## Train the Model
history = model.fit(
          X_train, y_train, validation_data=(X_test, y_test),
          epochs=100 , 
          callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100

2025-07-02 18:47:45.709931: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

239/250 [===========================>..] - ETA: 0s - loss: 100462.1406 - mae: 100462.1406

2025-07-02 18:47:48.263241: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

250/250 [==============================] - 3s 5ms/step - loss: 100425.3203 - mae: 100425.3203 - val_loss: 98704.4219 - val_mae: 98704.4219
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 100370.6797 - mae: 100370.6797 - val_loss: 98612.7266 - val_mae: 98612.7266
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 100263.8125 - mae: 100263.8125 - val_loss: 98480.1953 - val_mae: 98480.1953
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 100152.3906 - mae: 100152.3906 - val_loss: 98375.1094 - val_mae: 98375.1094
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 100078.1953 - mae: 100078.1953 - val_loss: 98276.0938 - val_mae: 98276.0938
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 99980.1328 - mae: 99980.1328 - val_loss: 98154.3828 - val_mae: 98154.3828
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 99829.6484 - mae: 99829.6484 - val_loss: 97982.6797 - val_mae: 97982.6797
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 99613.9531 - mae: 99613.9531 - val_loss: 97755.6484 - val_mae: 97755.6484
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 99347.1406 - mae: 99347.1406 - val_loss: 97535.6016 - val_mae: 97535.6016
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 99109.1719 - mae: 99109.1719 - val_loss: 97328.9141 - val_mae: 97328.9141
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 98893.7344 - mae: 98893.7344 - val_loss: 97140.4766 - val_mae: 97140.4766
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 98694.3125 - mae: 98694.3125 - val_loss: 96958.4922 - val_mae: 96958.4922
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 98497.8516 - mae: 98497.8516 - val_loss: 96772.4609 - val_mae: 96772.4609
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 98302.3047 - mae: 98302.3047 - val_loss: 96557.9297 - val_mae: 96557.9297
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 98096.2578 - mae: 98096.2578 - val_loss: 96348.1484 - val_mae: 96348.1484
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 97894.5547 - mae: 97894.5547 - val_loss: 96141.6094 - val_mae: 96141.6094
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 97669.4375 - mae: 97669.4375 - val_loss: 95897.5312 - val_mae: 95897.5312
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 97450.3984 - mae: 97450.3984 - val_loss: 95667.5547 - val_mae: 95667.5547
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 97222.0312 - mae: 97222.0312 - val_loss: 95430.1484 - val_mae: 95430.1484
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 96980.0469 - mae: 96980.0469 - val_loss: 95173.1797 - val_mae: 95173.1797
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 96745.3047 - mae: 96745.3047 - val_loss: 94929.6406 - val_mae: 94929.6406
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 96509.1562 - mae: 96509.1562 - val_loss: 94690.4375 - val_mae: 94690.4375
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 96257.7891 - mae: 96257.7891 - val_loss: 94443.9062 - val_mae: 94443.9062
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 96008.2891 - mae: 96008.2891 - val_loss: 94201.3125 - val_mae: 94201.3125
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 95756.9688 - mae: 95756.9688 - val_loss: 93928.4453 - val_mae: 93928.4453
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 95493.2344 - mae: 95493.2344 - val_loss: 93674.6875 - val_mae: 93674.6875
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 95238.7812 - mae: 95238.7812 - val_loss: 93433.2969 - val_mae: 93433.2969
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 94979.0312 - mae: 94979.0312 - val_loss: 93147.8594 - val_mae: 93147.8594
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 94702.7969 - mae: 94702.7969 - val_loss: 92858.8203 - val_mae: 92858.8203
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 94424.1797 - mae: 94424.1797 - val_loss: 92622.1562 - val_mae: 92622.1562
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 94161.4688 - mae: 94161.4688 - val_loss: 92339.1719 - val_mae: 92339.1719
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 93898.7422 - mae: 93898.7422 - val_loss: 92026.5938 - val_mae: 92026.5938
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 93607.9609 - mae: 93607.9609 - val_loss: 91759.6797 - val_mae: 91759.6797
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 93321.9062 - mae: 93321.9062 - val_loss: 91461.6172 - val_mae: 91461.6172
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 93034.8594 - mae: 93034.8594 - val_loss: 91192.9531 - val_mae: 91192.9531
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 92724.6250 - mae: 92724.6250 - val_loss: 90889.6250 - val_mae: 90889.6250
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 92444.9062 - mae: 92444.9062 - val_loss: 90582.1172 - val_mae: 90582.1172
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 92142.8672 - mae: 92142.8672 - val_loss: 90326.0156 - val_mae: 90326.0156
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 91822.9219 - mae: 91822.9219 - val_loss: 89959.0234 - val_mae: 89959.0234
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 91523.2812 - mae: 91523.2812 - val_loss: 89746.5078 - val_mae: 89746.5078
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 91241.9453 - mae: 91241.9453 - val_loss: 89335.6953 - val_mae: 89335.6953
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 90897.2109 - mae: 90897.2109 - val_loss: 89039.5547 - val_mae: 89039.5547
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 90598.8828 - mae: 90598.8828 - val_loss: 88711.4844 - val_mae: 88711.4844
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 90291.5703 - mae: 90291.5703 - val_loss: 88396.6875 - val_mae: 88396.6875
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 89959.1172 - mae: 89959.1172 - val_loss: 88109.0312 - val_mae: 88109.0312
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 89627.7188 - mae: 89627.7188 - val_loss: 87745.1562 - val_mae: 87745.1562
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 89335.7812 - mae: 89335.7812 - val_loss: 87454.6953 - val_mae: 87454.6953
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 88996.3516 - mae: 88996.3516 - val_loss: 87150.5312 - val_mae: 87150.5312
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 88662.3203 - mae: 88662.3203 - val_loss: 86755.5469 - val_mae: 86755.5469
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 88324.7812 - mae: 88324.7812 - val_loss: 86522.1172 - val_mae: 86522.1172
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 87998.1797 - mae: 87998.1797 - val_loss: 86109.0391 - val_mae: 86109.0391
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 87662.4141 - mae: 87662.4141 - val_loss: 85759.6797 - val_mae: 85759.6797
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 87317.2266 - mae: 87317.2266 - val_loss: 85408.3281 - val_mae: 85408.3281
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 86979.4141 - mae: 86979.4141 - val_loss: 85114.6172 - val_mae: 85114.6172
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 86640.9297 - mae: 86640.9297 - val_loss: 84720.5625 - val_mae: 84720.5625
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 86292.9531 - mae: 86292.9531 - val_loss: 84461.9062 - val_mae: 84461.9062
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 85905.6094 - mae: 85905.6094 - val_loss: 84281.3906 - val_mae: 84281.3906
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 85619.5781 - mae: 85619.5781 - val_loss: 83668.6172 - val_mae: 83668.6172
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 85211.9844 - mae: 85211.9844 - val_loss: 83376.9375 - val_mae: 83376.9375
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 84872.4766 - mae: 84872.4766 - val_loss: 82967.5547 - val_mae: 82967.5547
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 84505.2656 - mae: 84505.2656 - val_loss: 82621.1562 - val_mae: 82621.1562
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 84182.8438 - mae: 84182.8438 - val_loss: 82248.4531 - val_mae: 82248.4531
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 83783.7656 - mae: 83783.7656 - val_loss: 81984.6016 - val_mae: 81984.6016
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 83418.2344 - mae: 83418.2344 - val_loss: 81527.9297 - val_mae: 81527.9297
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 83058.6797 - mae: 83058.6797 - val_loss: 81155.8750 - val_mae: 81155.8750
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 82670.5234 - mae: 82670.5234 - val_loss: 80789.4922 - val_mae: 80789.4922
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 82276.8828 - mae: 82276.8828 - val_loss: 80618.3984 - val_mae: 80618.3984
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 81931.4688 - mae: 81931.4688 - val_loss: 80095.8281 - val_mae: 80095.8281
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 81548.2734 - mae: 81548.2734 - val_loss: 79713.5703 - val_mae: 79713.5703
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 81168.0703 - mae: 81168.0703 - val_loss: 79286.3594 - val_mae: 79286.3594
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 80789.8594 - mae: 80789.8594 - val_loss: 78906.6016 - val_mae: 78906.6016
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 80383.6172 - mae: 80383.6172 - val_loss: 78520.4219 - val_mae: 78520.4219
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 80030.3359 - mae: 80030.3359 - val_loss: 78203.6641 - val_mae: 78203.6641
Epoch 74/100
250/250 [==============================] - 1s 4ms/step - loss: 79655.2812 - mae: 79655.2812 - val_loss: 77790.0703 - val_mae: 77790.0703
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 79275.9453 - mae: 79275.9453 - val_loss: 77529.8203 - val_mae: 77529.8203
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 78903.2578 - mae: 78903.2578 - val_loss: 76990.8281 - val_mae: 76990.8281
Epoch 77/100
250/250 [==============================] - 1s 5ms/step - loss: 78487.3125 - mae: 78487.3125 - val_loss: 76602.9609 - val_mae: 76602.9609
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 78079.2578 - mae: 78079.2578 - val_loss: 76457.1016 - val_mae: 76457.1016
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 77791.9922 - mae: 77791.9922 - val_loss: 75840.0234 - val_mae: 75840.0234
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 77296.0547 - mae: 77296.0547 - val_loss: 75609.9922 - val_mae: 75609.9922
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 76895.3047 - mae: 76895.3047 - val_loss: 75087.5078 - val_mae: 75087.5078
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 76519.8672 - mae: 76519.8672 - val_loss: 74671.3594 - val_mae: 74671.3594
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 76161.0469 - mae: 76161.0469 - val_loss: 74378.3438 - val_mae: 74378.3438
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 75773.0547 - mae: 75773.0547 - val_loss: 74001.8281 - val_mae: 74001.8281
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 75334.4453 - mae: 75334.4453 - val_loss: 73752.1484 - val_mae: 73752.1484
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 74957.1719 - mae: 74957.1719 - val_loss: 73380.6875 - val_mae: 73380.6875
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 74619.6094 - mae: 74619.6094 - val_loss: 72746.3516 - val_mae: 72746.3516
Epoch 88/100
250/250 [==============================] - 1s 5ms/step - loss: 74181.3906 - mae: 74181.3906 - val_loss: 72356.5469 - val_mae: 72356.5469
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 73808.7891 - mae: 73808.7891 - val_loss: 71980.3047 - val_mae: 71980.3047
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 73335.9922 - mae: 73335.9922 - val_loss: 71624.1406 - val_mae: 71624.1406
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 72996.5625 - mae: 72996.5625 - val_loss: 71597.8438 - val_mae: 71597.8438
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 72599.1250 - mae: 72599.1250 - val_loss: 70818.0156 - val_mae: 70818.0156
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 72167.1016 - mae: 72167.1016 - val_loss: 70431.1484 - val_mae: 70431.1484
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 71810.7109 - mae: 71810.7109 - val_loss: 70518.5703 - val_mae: 70518.5703
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 71385.7500 - mae: 71385.7500 - val_loss: 70018.4922 - val_mae: 70018.4922
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 71005.7031 - mae: 71005.7031 - val_loss: 69375.2266 - val_mae: 69375.2266
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 70582.6797 - mae: 70582.6797 - val_loss: 68879.7812 - val_mae: 68879.7812
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 70181.3672 - mae: 70181.3672 - val_loss: 68623.3125 - val_mae: 68623.3125
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 69850.0703 - mae: 69850.0703 - val_loss: 68099.6094 - val_mae: 68099.6094
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 69389.7578 - mae: 69389.7578 - val_loss: 67764.2344 - val_mae: 67764.2344

In [16]:
# Load tensorboard extension
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit --port 6007

Reusing TensorBoard on port 6007 (pid 22800), started 0:00:09 ago. (Use '!kill 22800' to kill it.)

In [22]:
model.save('regression_model.h5')

/Users/syedmaaz/MAIN/STUDY/Projects/ANN Churn Classification Deep Learning/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(